* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}
body { font-family: 'Inter', sans-serif; }
h1, h2, h3, .font-headline { font-family: 'Space Grotesk', sans-serif; }
.glass-nav {
    background: rgba(12, 18, 41, 0.8);
    backdrop-filter: blur(20px);
}
body {
  min-height: max(884px, 100dvh);
}